.table-container {
    display: flex;
    justify-content: center; 
    height: 100vh;
    padding-top: 15vh;
    background-color: rgb(20, 20, 20);
}

::ng-deep .p-datatable {
    background-color: rgb(20, 20, 20);

    width: 75vh;

    border-collapse: collapse;

    user-select: none;
}

::ng-deep .p-datatable .p-datatable-thead th {
    font-weight: 900;
}


::ng-deep .p-datatable .p-datatable-tbody > tr {
    background-color: rgb(20, 20, 20);
    color: white;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th,
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    border: none !important;
    text-align: center !important;
}